<openerp>
    <data>
		<menuitem name="Consyst HR" id="consyshr_menu_root" />
		<menuitem name="Consyst HR Menu" id="consyshr_menu_general" parent="consyshr_menu_root" />
		<menuitem name="Issue Tracker" id="issuetracker_menu_root" />
		<menuitem name="My Dashboard" id="dashboard_menu_root" />
		<menuitem name="Activities" id="my_activity" parent="dashboard_menu_root" sequence="0"/>
		<menuitem name="General Issues" id="issuetracker_menu_general" parent="issuetracker_menu_root" />
		<menuitem name="General Solutions" id="issuetracker_menu_solutions" parent="issuetracker_menu_root" />
		<menuitem name="Confidential Issues" id="issuetracker_menu_confidential" parent="dashboard_menu_root" sequence="1" />
		<menuitem name="Confidential Solutions" id="issuetracker_menu_confidential_solutions" parent="dashboard_menu_root" sequence="2" />
    </data>
</openerp>
